@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Yeseva+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body    {
    font-family: Poppins, sans-serif;
    font-weight: 200;
    color: cadetblue;
}

/* headings and logo */

h1, h2  {
    font-family: Yeseva-one, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
}