@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Yeseva+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body    {
    font-family: Poppins, sans-serif;
    font-weight: 200;
    color: rgb(68, 81, 81);
}

/* headings and logo */

header {
    background: rgb(201, 40, 40);
    position: fixed;
    width: 100%;
    padding: 5px 0px;
    z-index: 9;
}

h1, h2  {
    font-family: Yeseva-one, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
}

#logo {
    float: left;
    font-size: 220%;
    padding: 10px 35px;
    letter-spacing: 2px;
}


/* navigation links */

#logo, #navigation {
    line-height: 40px;
}

#navigation {
    float: right;
    
}

#navigation li {
    display: inline-block;
    margin: 0 15px 0 10px;
    padding: 10px 5px 0px 5px;
}

#navigation a {
    text-decoration: none;
    color: rgb(15, 15, 15);
}

#navigation a:hover {
    border-bottom: 1px solid rgb(15, 15, 15);
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text1, #cover-text1 h2 {
    color: rgb(12, 12, 12);
}

#hero {
    height: 500px;
    width: 100%;
    background: url('../images/hero.jpg') no-repeat center center;
    opacity: .8;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* creates level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text1 {
    font-size: 110%;
    font-family: Yeseva-one, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: 650px;
    height: 120px;

    padding: 10px 0px 10px 10px;

    background-color: rgba(238, 14, 14);

    bottom: 200px;
    left: 400px;
    top: 200px;

    position: absolute;
}

/* Website introduction */

 #website-intro {
        height: 500px;
        margin-left: 100px;
 }

 #website-intro > h1 {
     text-align: center;
     font-size: 150%;
 }

#website-intro > p  {
    text-align: center;
    font-size: 120%;
}

 #left-about {
     padding-top: 20px;
     width: 33%;
     float: left;
     margin-top: 20px;
 }

 #right-about {
    padding: 20px 0 0 0;
    margin: 20px 0 0 20px;
    width: 33%;
    float: right;
    clear: right;
}

#center-about {
    padding-top: 20px;
    width: 33%;
    margin: 20px auto;
}







/* footer */

footer {
    height: 70px;
    background: rgb(201, 40, 40);
    margin-bottom: 0;
    padding-bottom: 0%;
}

.social-networks {
    text-align: left;
    margin-left: 3%;
    padding-top: 10px;
    
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    color: rgb(0, 0, 0);
    margin: 1%;
}

/* Cleaning Page */

#left-image {
    padding: 100px 0px 0px 50px;
    display: inline-block;
}

#right-text {
    text-align: center;
}

#left-text {
    text-align: center;
    padding-top: 100px;
    padding-left: 20px;
}

/* register */

/* Form */

.form-section {
    clear: left;
    background: url(../images/relaxing.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
}


.header {
    font-size: 50px;
    letter-spacing: 8px;
    color: black;
    padding-top: 20%;
  
  }
  
  form {
     width: 800px;
     text-align: center;
     margin: auto;
  }
  
  .info {
        font-size: 14px;
        letter-spacing: 1px;
        margin-top: 10px;
      }
  
  
  .input {
    display: flex;
    align-items: center;
  }
  
  
  .button {
    height: 50px;
    border: none;
  }
  
    
  #text-input {
    width: 85%;
    background: #FDFCFB;
    font-family: Poppins, sans-serif;
    color: #000000;
    letter-spacing: 1px;
    text-indent: 5%;
    border-radius: 5px 0 0 5px;
  }
  
  
  #register {
    width: 25%;
    height: 50px;
    background: rgb(201, 40, 40);
    letter-spacing: 1px;
    border-radius: 0 5px 5px 0;
    color: black;
  }
    
  
  #register:hover {
    background: rgb(243, 48, 48);
    color: rgb(76, 67, 67);
  }
    
  
  

